   /*НАПРАВЛЕНИЯ БИЗНЕСА*/ 
   .business{
    padding-bottom: 94px;
  }
 
 .business-item-title{
   font-weight: bold;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--title-dark-theme-color);
   background-color: var(--business-item-background);
   text-align: center;
   padding-top: 27px;
   padding-bottom: 27px;
   width: 100%;
   position: absolute;
   bottom:0;
   left:0;
 }
 
 .business-item-container{
   display:flex;
   align-items: stretch;
 }
 
 .business-item{
   width:370px;
   margin-right:30px;
   position: relative;
 }
 
 .business-item.last-child{
   margin-right:0px;
 }
 