.footer{
    background: $footer-color;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
  }
  
  .footer-address{
    display: flex;
    flex-direction: column;
    font-style: normal;
    line-height: 1.71;
    color: $title-dark-theme-color;
  }
  .contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    padding-right:69px;
  }
  
  .social-footer-list{
    display:flex;
    justify-content:flex-start;
    align-items: center;
  }

  .footer-contact{
    font-style: normal;
    line-height: 1.71;
    color: $footer-links-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
        color: $accent-color;}
  }
  
  .subscription-form-container{
    display: flex;
  }
  .social-call{
    padding-top:12px;
    margin-bottom:20px;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-dark-theme-color;
  }
  
  .social-footer{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:300px;
    padding-right: 94px;
  }
  
  .socialmedia{
    margin-right: 10px;
  
    &:last-child{
        margin-right: 0px;}
    }
  
  .socialmedia-item{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-social-background;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        background-color: $accent-color;}
  }
  
  .socialmedia-icon{
    width:20px;
    height:20px;
    fill: $title-dark-theme-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
  .socialmedia-item:hover &, .social-media-item:focus &{
    fill:$hover-buttons-text;}
  }
  
  .subscription-form-container{
    display:flex;
    flex-direction: column;
  }
  
  .subscription-line{
    display: flex;
  }
  
  .social-call-form{
    width: 358px;
    height: 50px;
    background-color: $footer-color;
    border:1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top:12px;
    padding-bottom: 18px;
    padding-left: 16px;
    font-size:16px;
    line-height: 1.25;
    margin-right: 26px;
  }
  
  .button{
    display: flex;
    margin: 0 auto;
    min-width:200px;
    height: 50px;
    padding: 8px 10px 12px 29px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $title-dark-theme-color;
    border:transparent;
    align-items: center;

    &.hover,
    &.focus{
        cursor: pointer;
    }

    .sendicon{
        width:24px;
        height:24px;
        fill: $hover-buttons-text;
        margin-left: 10px;
        }
  }
   
  