.header{
    height: 81px;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
    align-items: center;
  }
  
  .navigation{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  
  /*logo*/
  .logo, .footer-logo{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo{
    color: var(--title-light-theme-color);
  }
  
  /*logo blue*/
  span{color:var(--logo-color);}
  .menu-container{
    display:flex;
    flex-direction: row;
    margin-left:85px;
  }
  
  .menu-item{
    position: relative;
  }
  
  .menu-item::after{
    position: relative;
    display:block;
    content:"";
    width:100%;
    height:4px;
    background-color: transparent;
    border-radius: 2px;
    top:30px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-item:hover::after{
    background-color: var(--accent-color);
  }
  
  
  
  /* index header*/
  .menu-item-link, 
  .header-email-link,
  .header-phone-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .menu-item-link{
    color: var(--title-light-theme-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-item{
    margin-right:50px;
  }
  .menu-item:last-child{
    margin-right:0px;
  }
  
  .header-contacts{
    display:flex;
    align-items: center;
    margin-left: auto;
  }
  
  .email-icon, .phone-icon{
    fill:var(--text-main-color);
    fill:currentColor;
    margin-right:10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  
  .header-email-link, .header-phone-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-email-link{
    margin-right:30px;
  }
  
  .menu-item-link:hover,
  .menu-item-link:focus,
  .header-email-link:hover,
  .header-email-link:focus, 
  .header-phone-link:hover,
  .header-phone-link:focus{
    color: var(--accent-color);
  }
  
  .header-email-link:hover .email-icon,
  .header-phone-link:hover .phone-icon{
    fill:var(--accent-color)
  }
  