.header{
    height: 81px;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
    align-items: center;
  }
  
  .navigation{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  
  .menu-container{
    display:flex;
    flex-direction: row;
    margin-left:85px;
  }
 
  .menu-item{
    position: relative;
    margin-right:50px;

     
    &:last-child{
        margin-right:0px;}

    &::after{
        position: relative;
        display:block;
        content:"";
        width:100%;
        height:4px;
        background-color: transparent;
        border-radius: 2px;
        top:30px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  
    &:hover::after{
        background-color: $accent-color;}
    }
  
  /* index header*/
  .menu-item-link, 
  .header-email-link,
  .header-phone-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .menu-item-link{
    color: $title-light-theme-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      color: $accent-color;
    }
  }

  .header-contacts{
    display:flex;
    align-items: center;
    margin-left: auto;
  }
  
  .email-icon, .phone-icon{
    fill: $text-main-color;
    fill: currentColor;
    margin-right:10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  
  .header-contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-main-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  
    &:hover,
    &:focus{
      color: $accent-color;}
    
      
  &:hover .email-icon,
  &:hover .phone-icon{
    fill: $accent-color;}
}
  
  .header-contact{
    margin-right:30px;

    &:last-child{
    margin-right: 0px;}}

  