 /*logo*/
 .logo, .footer-logo{
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo{
    color: $title-light-theme-color;
  }
  
  /*logo blue*/
  span{color: $logo-color;}

  
