.social-footer-list{
    display:flex;
    justify-content:flex-start;
    align-items: center;
  }

  .social-footer{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:300px;
    padding-right: 94px;
  }
  
  .socialmedia{
    margin-right: 10px;
  }
  
  .socialmedia:last-child{
    margin-right: 0px;
  }
  
  .socialmedia-item{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-social-background);
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .socialmedia-icon{
    width:20px;
    height:20px;
    fill: var(--title-dark-theme-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .socialmedia-item:hover, .social-media-item:focus{
    background-color: var(--accent-color);
  }
  
  .socialmedia-item:hover .socialmedia-icon, .social-media-item:focus .socialmedia-icon{
    fill:var(--hover-buttons-text);
  }