/*logo*/
.logo, .footer-logo{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo{
    color: var(--title-light-theme-color);
  }
  
  /*logo blue*/
  span{color:var(--logo-color);}
  .menu-container{
    display:flex;
    flex-direction: row;
    margin-left:85px;
  }